<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>

        <div class="container">
            <h1>Patient</h1>
            <form th:action="@{/patient/(form)}" 
                  th:object="${patient}" method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="name-label">Name:</label>
                            <input class="form-control" 
                                th:field="*{name}" 
                                type="text" id="name-label">
                            <p th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="alert alert-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="sex-label">Sex:</label>
                            <input class="form-control" 
                                th:field="*{sex}" 
                                placeholder="MASC/FEM"
                                type="text" id="sex-label">
                            <p th:if="${#fields.hasErrors('sex')}"
                                th:errors="*{sex}"
                                class="alert alert-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="birthDate-label">Birth Date:</label>
                            <input class="form-control"
                                th:field="*{birthDate}"  
                                type="date" id="birthDate-label">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/patient" class="btn btn-primary">Cancel</a>
            </form>
        </div>
        
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>