<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
                   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="layout :: htmlhead"></head>
<body>
    <nav th:replace="layout :: menu">(menu)</nav>

    <div class="container">
        <h1>Patient</h1>
        <a href="/patient/new" class="btn btn-primary">Novo</a>
        <table class="table" id="patients">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>SEX</th>
                    <th>DATE OF BIRTH</th>
                    <th>CITY</th>
                    <th>HEALTH PLANS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="obj: ${patientsList}">
                    <td th:text="${obj.id}"></td>
                    <td th:text="${obj.name}"></td>
                    <td th:text="${obj.sex}"></td>
                    <td th:text="${obj.birthDate}"></td>
                    <td th:text="${obj.city.name}"></td>
                    <td th:text="${obj.getHealthPlanNames()}"></td>
                    <td></td>
                    <td class="d-flex">
                        <a th:href="@{'/patient/update/'+${obj.id}}" class="btn btn-primary">Update</a>
                        <button class="btn btn-danger js-delete" th:data-id="${obj.id}">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:include="layout :: footer">(footer)</div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#patients").on('click', '.js-delete', function(){
                let button = $(this);
                bootbox.confirm({
                    message: "Are you sure you want to delete?",
                    className: 'bb-alternate-modal',
                    callback: function(result) {
                        if(result) {
                            $.ajax({
                                url: '/patient/delete/' + button.attr("data-id"),
                                method: 'GET',
                                success: function() {
                                    window.location.href = '/patient/';
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>