<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>

        <div class="container">
            <h1>Doctor</h1>
            <form th:action="@{/doctor/(form)}" 
                  th:object="${doctor}" method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="name">Name:</label>
                            <input class="form-control" 
                                th:field="*{name}" 
                                type="text" id="name">
                            <p th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}"
                            class="alert alert-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="crm">CRM:</label>
                            <input class="form-control" 
                                th:field="*{crm}" 
                                type="number" id="crm">
                            <p th:if="${#fields.hasErrors('crm')}"
                                th:errors="*{crm}"
                                class="alert alert-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="select-procedures">Procedures:</label>
                            <select class="form-select"
                                    th:field="*{procedureId}"
                                    id="select-procedures">
                                    <option th:each="proc : ${procedures}"
                                            th:value="${proc.id}"
                                            th:text="${proc.title}"></option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" name="newproc" class="btn btn-primary" style="margin: 10px 0">New Procedure</button>
                    <div class="row">
                        <div class="form-group">
                            <table class="table" id="procedure">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>TITLE</th>
                                        <th>DESCRIPTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="obj, stat: ${doctor.procedures}">
                                        <td th:text="${obj.id}"></td>
                                        <td th:text="${obj.title}"></td>
                                        <td th:text="${obj.description}"></td>
                                        <input type="hidden" th:field="${doctor.procedures[__${stat.index}__].id}" />
                                        <input type="hidden" th:field="${doctor.procedures[__${stat.index}__].title}" />
                                        <input type="hidden" th:field="${doctor.procedures[__${stat.index}__].description}" />
                                        <td class="d-flex">
                                            <button type="submit" name="delproc" th:value="__${stat.index}__" class="btn btn-primary">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button type="submit" name="save" class="btn btn-primary">Submit</button>
                <a href="/doctor" class="btn btn-primary">Cancel</a>
            </form>
        </div>
        
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>