<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>

        <div class="container">
            <h1>Patient</h1>
            <form th:action="@{/patient/(form)}" 
                  th:object="${patient}" method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="name-label">Name:</label>
                            <input class="form-control" 
                                th:field="*{name}" 
                                type="text" id="name-label">
                            <p th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="alert alert-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="sex-label">Sex:</label>
                            <input class="form-control" 
                                th:field="*{sex}" 
                                placeholder="MASC/FEM"
                                type="text" id="sex-label">
                            <p th:if="${#fields.hasErrors('sex')}"
                                th:errors="*{sex}"
                                class="alert alert-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="birthDate-label">Birth Date:</label>
                            <input class="form-control"
                                th:field="*{birthDate}"  
                                type="date" id="birthDate-label">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="selector">City</label>
                                <select class="form-select"
                                    th:field="*{cityId}"
                                    id="selector">
                                    <option th:each="city : ${cities}"
                                            th:value="${city.id}"
                                            th:text="${city.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="plan">Health Plans</label>
                                <select class="form-select"
                                        th:field="*{healthPlanId}"
                                        id="plan">
                                    <option th:each="plan : ${plans}"
                                            th:value="${plan.id}"
                                            th:text="${plan.name}"></option>    
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="newplan" class="btn btn-primary" style="margin: 10px 0">New Plan</button>
                    <div class="row">
                        <div class="form-group">
                            <table class="table" id="patients">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="obj, stat: ${patient.plans}">
                                        <td th:text="${obj.id}"></td>
                                        <td th:text="${obj.name}"></td>
                                        <input type="hidden" th:field="${patient.plans[__${stat.index}__].id}"/>
                                        <input type="hidden" th:field="${patient.plans[__${stat.index}__].name}"/>
                                        <td class="d-flex">
                                            <button type="submit" name="deleteplan" th:value="__${stat.index}__" class="btn btn-primary">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button type="submit" name="save" class="btn btn-primary">Submit</button>
                <a href="/patient" class="btn btn-primary">Cancel</a>
            </form>
        </div>
        
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>